<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reports</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="section">
    <h1 class="title">Authenticate Github</h1>
    <form method="GET" action="https://github.com/login/oauth/authorize">
      <input type="hidden" name="client_id" value="78a3df73faa0a19a97c1" />
      <input type="hidden" name="scope"
        value="ser,public_repo,repo,repo_deployment,repo:status,read:repo_hook,read:org,read:public_key,read:gpg_key">

      <button type="submit" class="button is-large">
        <span class="icon is-medium">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </button>
    </form>
  </section>
</body>

</html>